.footer {
  padding: 2em;
  text-align: center;
  color: white;
  background-color: black;

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: gray;
    }
  }

  .data-attribution {
    font-size: 13px;
    margin-top: 36px;
  }
}
