.logo {
  width: 30px;
  vertical-align: middle;
}

.name {
  vertical-align: middle;
  font-size: 17px;
  margin-left: 5px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;

  .action {
    color: black;
  }

  @media (max-width: 425px) {
    .user {
      display: none;
    }
    .separator {
      display: none;
    }
  }
}

.separator {
  margin: 0 18px;
}
