.history-container {
  text-align: right;

  @media (max-width: 425px) {
    margin-top: 43px;
  }
}

.history {
  padding: 5px 10px;
  width: 227px;
  display: inline-block;

  &.asked {
    background-color: #ebebff;
  }

  @media (max-width: 425px) {
    width: 140px;
  }
}

.author-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meta {
  flex: 1;
  text-align: left;
}

.author-name {
  font-size: 14px;
}

.author-rep {
  font-weight: 600;
  font-size: 13px;
}

.author-avatar {
  width: 100%;
}

.timestamp {
  text-align: left;
  font-size: 13px;
  color: grey;
}
