.user-section {
  border: 1px solid #d8d8d8;
  padding: 17px 11px;
  margin-bottom: 12px;
}

.user-post-item {
  margin-bottom: 6px;

  .user-post-score {
    padding: 4px 8px;
    border: 1px solid gray;
    border-radius: 3px;
    color: black;
    font-size: 13px;
    margin-right: 7px;
  }
}

.username-container {
  .username {
    display: inline-block;
    margin-right: 11px;
  }
}
