.question-item {
  padding: 10px 0px;
}

.stats {
  display: flex;
  flex-direction: row;
}

.stat {
  flex: 0.3333;
  text-align: center;
}

.number {
  font-weight: 300;
}

.noun {
  color: gray;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 0;
}
