.post-title {
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 12px;
}

.post-content {
  display: flex;
}

.post-body {
  flex: 1;
}

.vote-count-container {
  width: 50px;
}

.post {
  border-bottom: 1px solid #dedede;
  padding: 20px 7px;
}
